{% extends 'base.html.twig' %}

{% block title %}Inscription - {{ parent() }}{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="card shadow-sm">
                <div class="card-header bg-trello text-white">
                    <h2 class="h4 mb-0">Inscription</h2>
                </div>
                <div class="card-body">
                    {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.firstname) }}
                        {{ form_row(registrationForm.lastname) }}
                        {{ form_row(registrationForm.plainPassword) }}
                        {{ form_row(registrationForm.agreeTerms) }}

                        <button type="submit" class="btn btn-lg btn-primary w-100">S'inscrire</button>
                    {{ form_end(registrationForm) }}
                </div>
                <div class="card-footer text-center">
                    <a href="{{ path('app_login') }}">Déjà un compte ? Se connecter</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
